@import "fonts";

.my_container {
    background-color: white;
    // overflow: hidden;
}
.img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.text_title {
    width: 850px;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 26px;
    font-family: "Philosopher";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.text_content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    position: relative;
    font-family: "K2D";
    font-weight: normal;
    font-style: normal;
}

.group_image {
    position: relative;
    width: fit-content;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    & img:first-child {
        position: initial;
    }
}

.author {
    font-size: 18px;
    font-family: "San Francisco Text";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    // width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    p {
        text-align: center;
        span {
            font-weight: bold;
        }
        margin-bottom: 0;
    }
    margin-top: 0px;
}

// .model-img {
//     height: fit-content;
// }

.model-360 {
    width: fit-content;
}

.img-model {
    display: none;
    width: 60vw;
}
.img-model-show {
    display: block;
}

.cover-container {
    width: 100%;
    height: calc(100vh - 46px);
    position: relative;
}

#cover-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
}
.car-detail {
    height: calc(100vh - 46px);
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
}
.list-img-model {
    margin-bottom: 30px;
    position: relative;
}
.hidden-logo {
    position: absolute;
    width: 100%;
    height: 28px;
    background-color: #f7f7f7;
    top: 0;
}
.car-slide-container {
    width: 60%;
}
#slider-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.mark {
    position: absolute;
    top: -50%;
    p {
        font-size: 15px;
        margin-bottom: 0;
    }
    padding: 4px 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(105, 105, 105);
    // box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    border-radius: 8px;
    &::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 10px solid rgb(105, 105, 105);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;
    }
    cursor: pointer;
}
.mark-1 {
    left: 0;
    transform: translateX(-50%);
}
.mark-2 {
    left: 19%;
    transform: translateX(-50%);
}
.mark-3 {
    left: 40%;
    transform: translateX(-50%);
}
.mark-4 {
    left: 65%;
    transform: translateX(-50%);
}
.input-range {
    width: 600px;
    position: relative;
    z-index: 5;
}

input[type="range"] {
    -webkit-appearance: none;
    margin: 20px 0;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #414141b2;
    border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #c6180f;
}

/// ALERT
///
///
:root {
    --background: 255, 50, 50;
    --size: 3rem;
    --duration: 2s;
    --scale: 3;
    --opacity: 0.4;
}

.status__icon {
    width: var(--size);
    height: var(--size);
    background: rgb(255, 50, 50);
    border-radius: 100%;
    position: absolute;
    animation: pulse-shadow var(--duration) calc(2 * var(--duration) / 3) linear infinite;
    cursor: pointer;
    display: none;
}
.status__icon.show {
    display: block;
}
.status__icon::after,
.status__icon::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(255, 50, 50);
    border-radius: 100%;
    left: 0;
}

.status__icon:after {
    animation: pulse var(--duration) linear infinite;
}

.status__icon:before {
    animation: pulse var(--duration) calc(var(--duration) / 3) linear infinite;
}

.for-mark-1 {
    left: 28%;
    top: 38%;
}
.for-mark-2 {
    left: 47%;
    top: 40%;
}
.for-mark-2 {
    left: 47%;
    top: 40%;
}
.for-mark-3 {
    left: 47%;
    top: 54%;
}
.for-mark-4 {
    left: 47%;
    top: 45%;
}
.modal-dialog {
    max-width: 800px;
}
.modal-body {
    p {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-size: 16px;
        color: #1f2125;
        margin-bottom: 0 !important;
    }
    h3 {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: 700 !important;
        margin-bottom: 5px !important;
        color: #1f2125;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 26px !important;
    }
    .func-car {
        // text-decoration: dotted;
        padding-left: 0;
        li {
            font-family: "Mulish", sans-serif;
            font-style: normal;
            font-size: 16px;
            color: #1f2125;
            margin-bottom: 0 !important;
            text-decoration: dotted;
            margin-bottom: 10px !important;
            line-height: 1.2 !important;
        }
    }
}
.swiper {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    // margin-top: 30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-pagination-bullet{
    width: 13px;
    height: 13px;
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #be2222;
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: var(--opacity);
    }

    100% {
        transform: scale(var(--scale));
        opacity: 0;
    }
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 50, 50, var(--opacity));
    }

    100% {
        box-shadow: 0 0 0 calc((var(--scale) - 1) * var(--size) / 2) rgba(255, 50, 50, 0);
    }
}

.car-infor {
    h3 {
        font-family: "Mulish", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px !important;
        font-style: normal;
        color: #707070 !important;
    }
    h2 {
        font-size: 35px;
        line-height: 43.93px;
        color: #1f2125 !important;
        font-family: mulish;
        font-style: normal;
        font-weight: 600;
        text-transform: uppercase;
    }
    h4 {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #8a8a8a;
        margin-bottom: 35px;
    }
    .line {
        width: 300px;
        height: 1px;
        background-color: #8a8a8a;
    }
    .info-item {
        font-family: "Mulish", sans-serif;
        font-style: normal;
        padding: 15px 0 20px 0;
        position: relative;
        border-top: 1px solid #8a8a8a;
        h5 {
            margin-bottom: 18px !important;
            line-height: 1.2 !important;
            font-weight: 700 !important;
            margin-bottom: 5px !important;
            color: #1f2125;
            font-family: "Montserrat", sans-serif;

            font-style: normal;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 5px;
        }
        p {
            font-weight: normal;
            font-size: 15px;
            margin-bottom: 0;
            color: #1f2125;
        }
    }
}
.car-info-detail-container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 550px;
}
.col-detail {
    display: flex;
    flex-direction: column;
}

.detail-car-item {
    display: none;
}
.detail-car-item.item-detail-show {
    display: block;
}
@media (min-width: 577px) {
    .mobile {
        // display: none !important;
    }
}

@media (max-width: 576px) {
    .pc {
        // display: none !important;
    }
}
